bin/
cocos2d/
linux-build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
lib/
Makefile
nbproject/
/proj.android/obj/local/
/proj.android/local.properties
/proj.android/libs/
/proj.android/gen/
/proj.android/assets/
